
a{
    color: white;
    font-weight: 500;
    font-size: 30pt;
}
h2{
    font-size: 40pt;
    color: white;
}

body{
    background: url('https://cdn.mos.cms.futurecdn.net/YYajXEHkFouJTnVD9nHB9j.jpg'), black;
    grid-template-areas:
    "menu menu menu"
        "niq niq niq"
        "about about about"
        "skills skills skills"
        "projects projects projects"
        "contact contact contact";
    position: sticky;
    display: grid;
    justify-self: center;
    align-items: center;
  background-repeat: no-repeat;
}

.bg{
    grid-area: bg;
    justify-self: center;
    display: grid;
    grid-template-areas:
    "menu"
    "niq"
    "about"
        "skills"
        "projects";
    grid-gap: 15px;
    margin-right: 15px;
}
#menu{
    grid-area: menu;
    display: grid;
    align-self: start;
   font-size: 100pt;
   color: white;
   
}

#niq{
    grid-area: about;
    display: grid;
    align-self: start;
   margin-top: 200px;
   font-size: 100pt;
   color: white;
   border: 12px solid black;
   
}

#niq-info{
    grid-area: about;
    display: grid;
    align-self: start;
   margin-top: 600px;
   font-size: 70pt;
   color: white;
   font-style: italic;
   border: 10px solid black;
}

#about{
    grid-area: about;
    display: grid;
    align-self: center;
    margin-top: 800px;
    font-size: 50pt;
    color: white;
}
#about:hover{
    color:black;
}

#about-info{
    grid-area: about;
    display: grid;
    align-self: center;
    margin-top: 1300px;
    font-size: 30pt;
    color: white;
    text-align: justify;
  text-justify: inter-word;
    border: 10px solid black;
}

#about-info:hover{
color:white;
}


#skills{
    grid-area: skills;
    display: grid;
    align-self: center;
    margin-top: 300px;
    font-size: 50pt;
    color: white;
    border: 10px solid white;
}


#skills-info{
    grid-area: skills;
    display: grid;
    align-self: center;
    margin-top: 900px;
    font-size: 30pt;
    color: white;
    text-align: justify;
    text-justify: inter-word;
    border: 10px solid white;
}


#projects{
    grid-area: projects;
    display: grid;
    align-self: center;
    margin-top: -800px;
    margin-bottom: 800px;
    font-size: 50pt;
    color: white;
} 

#projects-info{
    grid-area: projects;
    display: grid;
    align-self: center;
    margin-top: -300px;
    font-size: 30pt;
    color: white;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

#projects-info2{
    grid-area: projects;
    display: grid;
    align-self: center;
    margin-top: 1900px;
    font-size: 30pt;
    color: white;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

img{
    width:80%;
}

#contact{
    grid-area: contact;
    display: grid;
    align-self: center;
    margin-top: -200px;
    font-size: 50pt;
    color: white;
} 

#contact-info{
        grid-area: contact;
        display: grid;
        align-self: center;
        margin-top: 200px;
        font-size: 30pt;
        color: white;
        text-align: justify;
      text-justify: inter-word;
}

p{
    text-align: center;
}
